/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* sir This is Header section Styles */
.header-section{
    background-image: url(./images/banner/banner2.png);
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.header-container{
    text-align: center;
    padding-left: 845px;
    padding-top: 216px;
    padding-right: 230px;
}
.header-heading{
    font-family: 'Work sans';
    color: #151414;
    font-size: 40px;
}
.header-description{
    color: #444343;
    font-size: 16px;
    padding-top: 24px;
    margin-bottom: 32px;
    font-family: 'Work sans';
}

.btn-primary{
    font-family: 'Work Sans';
    
    font-weight: 600;
    font-size: 25px;
    color:#FFFF;
    background: #F15B22;
    border-radius: 5px;
    padding: 10px,20px;
    width: 160px;
    height: 64px;
}
/* about Me */
.about-me-section{
    display: flex;
    padding-top: 700px;
    padding-left: 280px;
    
}
.about-text{
    margin-top: 250px;
    color: #151414;
}
.about-text-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: black;
    margin-left: 200px;
}
.about-text-description{
    color: #444343;
    font-size: 16px;
    padding-top: 24px;
    margin-bottom: 32px;
    font-family: 'Work sans';
    margin-left: 200px;
}
.about-img{
    padding-right: 247px;
    padding-top: 30px;
}
/* secound sction styles */
.container{
    display: flex;
    padding-top: 100px;
    padding-left: 280px;
    padding-right: 247px;
}
.container .text-section{
    margin-top: 200px;
    padding-left: 50px;
}
.secound-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    color: black;
}
.check{
    font-size: 16px;
    font-family: 'Work Sans';
    padding-top: 10px;
}

/* myPlansSection */
.planHeader{
    font-family: 'Work Sans';
    text-align: center;
    padding-top: 140px;
    font-size: 40px
    

}
.planTofiqContainer{
    display: flex;
    padding-left: 230px;
    padding-right: 229px;
}
.planTofiq{
    padding-left: 130px;
    font-family: 'Work Sans';
    font-size: 20px;
    color: #151414;
}
.planTofiqTitle{
    font-family: 'Work Sans';
}
.planTofiqDescription{
    font-family: 'Work Sans';
}
